name: CI

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

# First build on Linux with JDK 8 and Windows with JDK 11
# Then run tests with various JDK and GWT versions (Linux only)
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup environment
        run: echo "JAVA_HOME=${JAVA_HOME_8_X64}" | tee -a $GITHUB_ENV

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository/
            !~/.m2/repository/**/*-SNAPSHOT/
            target/it-repo/
            !target/it-repo/**/*-SNAPSHOT/
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Build with Maven
        id: maven-build
        run: mvn -B -U -ntp verify --fail-at-end

      - name: Store reports
        if: steps.maven-build.outcome == 'success' || steps.maven-build.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: linux-reports
          path: target/it-tests/*/build.log

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup environment
        run: echo "JAVA_HOME=${Env:JAVA_HOME_11_X64}" | Tee-Object -FilePath $env:GITHUB_ENV -Append

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository/
            !~/.m2/repository/**/*-SNAPSHOT/
            target/it-repo/
            !target/it-repo/**/*-SNAPSHOT/
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Build with Maven
        id: maven-build
        run: mvn -B -U -ntp verify --fail-at-end

      - name: Store reports
        if: steps.maven-build.outcome == 'success' || steps.maven-build.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: windows-reports
          path: target/it-tests/*/build.log

  test-jdks:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
    steps:
      - uses: actions/checkout@v3

      - name: Setup JDK ${{ matrix.java }}
        id: setup-test-java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - name: Setup JAVA_HOME_${{ matrix.java }}_X64 environment variable
        run: echo "JAVA_HOME_${{ matrix.java }}_X64=${{ steps.setup-test-java.outputs.path }}" | tee -a $GITHUB_ENV

      # TODO: investigate only running IT tests with that JDK, rather than the whole build, through Toolchains
      - name: Setup environment
        run: echo "JAVA_HOME=${JAVA_HOME_${{ matrix.java }}_X64}" | tee -a $GITHUB_ENV

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository/
            !~/.m2/repository/**/*-SNAPSHOT/
            target/it-repo/
            !target/it-repo/**/*-SNAPSHOT/
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Build with Maven
        id: maven-build
        run: mvn -B -U -ntp verify --fail-at-end

      - name: Store reports
        if: steps.maven-build.outcome == 'success' || steps.maven-build.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: jdk-${{ matrix.java }}-reports
          path: target/it-tests/*/build.log

  test-gwt:
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gwt: [ "2.8.2", "HEAD-SNAPSHOT" ]
    steps:
      - uses: actions/checkout@v3

      - name: Setup environment
        run: echo "JAVA_HOME=${JAVA_HOME_8_X64}" | tee -a $GITHUB_ENV

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository/
            !~/.m2/repository/**/*-SNAPSHOT/
            target/it-repo/
            !target/it-repo/**/*-SNAPSHOT/
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}-gwt-${{ matrix.gwt }}
          restore-keys: |
            ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Build with Maven
        id: maven-build
        run: mvn -B -U -ntp verify --fail-at-end -DgwtVersion=${{ matrix.gwt }}

      - name: Store reports
        if: steps.maven-build.outcome == 'success' || steps.maven-build.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: gwt-${{ matrix.gwt }}-reports
          path: target/it-tests/*/build.log

  deploy_snapshot:
    needs:
      - linux
      - windows
      - test-jdks
      - test-gwt
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup environment
        run: echo "JAVA_HOME=${JAVA_HOME_11_X64}" | tee -a $GITHUB_ENV

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository/
            !~/.m2/repository/**/*-SNAPSHOT/
            target/it-repo/
            !target/it-repo/**/*-SNAPSHOT/
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Deploy with Maven
        id: maven-build
        run: mvn -B -U -ntp -s .github/workflows/settings.xml source:jar deploy -Dmaven.test.skip=true -Dinvoker.skip=true
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
